[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
brain-brew = "==0.3.11"

[requires]
python_version = "3.11"

[scripts]
build = "brain_brew run recipes/source_to_anki.yaml"
build_experimental = "brain_brew run recipes/source_to_anki_[experimental].yaml"
zip = "python utils/zip_decks.py"
flag_similarity = "python utils/flag_similarity.py"
generate_templates = "python src/note_models/generate_templates.py"
