[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
brain-brew = {git = "https://github.com/ohare93/brain-brew.git", editable = true, ref = "HeadersOverrideForNameUUID"}

[requires]
python_version = "3.7"

[scripts]
build = "brain_brew run recipes/source_to_anki.yaml"
