[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
brain-brew = "==0.3.11"

[requires]
python_version = "3.11"

[scripts]
build = "python utils/generate_and_build.py recipes/source_to_anki.yaml"
build_experimental = "python utils/generate_and_build.py recipes/source_to_anki_[experimental].yaml"
generate_templates = "python utils/generate_and_build.py"
zip = "python utils/zip_decks.py"
flag_similarity = "python utils/flag_similarity.py"
