{{#Flag}}
  <div class="capital">Flag</div>
  <div class="value">???</div>

  <br><hr><br>

  <div class="country">Country</div>
  <div class="value">{{Country}}</div>
{{/Flag}}

--

<div class="capital">Flag</div>
<div class="flag">{{Flag}}</div>
{{#Flag similarity}}<div class="info">Flag similar to {{Flag similarity}}.</div>{{/Flag similarity}}

<br><hr><br>

<div class="country">Country</div>
<div class="value">{{Country}}</div>
{{#Country info}}<div class="info">{{Country info}}</div>{{/Country info}}
