{{#Capital}}
  <div class="country">Country</div>
  <div class="value">{{Country}}</div>

  <br><hr id=answer><br>

  <div class="capital">Capital</div>
  <div class="value">???</div>
{{/Capital}}

--

<div class="country">Country</div>
<div class="value">{{Country}}</div>
{{#Country info}}<div class="info">{{Country info}}</div>{{/Country info}}

<br><hr id=answer><br>

<div class="capital">Capital</div>
<div class="value">{{Capital}}</div>
{{#Capital hint}}<div class="info">{{Capital hint}}</div>{{/Capital hint}}

{{#Capital info}}<div class="info">{{Capital info}}</div>{{/Capital info}}
