{{#Flag}}
  <div class="value value--top">{{Country}}</div>
  {{#Country info}}<div class="info">{{Country info}}</div>{{/Country info}}

  <hr>

  <div class="type">_flag_translation</div>
  <div class="value value--image">
    <svg
      class="placeholder"
      xmlns="http://www.w3.org/2000/svg"
      width="417"
      height="250"
      viewBox="0 0 417 250"
    >
      <path d="m2 26s45-24 129-24c86 0 146 25 210 25 64 0 74-10 74-10v218s-25 13-83 13-146-25-206-25c-60 0-123 19-123 19z" />
    </svg>
  </div>
{{/Flag}}

--

<div class="value value--top">{{Country}}</div>
{{#Country info}}<div class="info">{{Country info}}</div>{{/Country info}}

<hr id=answer>

<div class="type">_flag_translation</div>
<div class="value value--image value--back">{{Flag}}</div>
{{#Flag similarity}}<div class="info">_flag_similarity_translation{{Flag similarity}}_full_stop_translation</div>{{/Flag similarity}}
