{{#Flag}}
  <div class="value value--top">?</div>

  <hr>

  <div class="type">_flag_translation</div>
  <div class="value value--image value--front">{{Flag}}</div>
{{/Flag}}

--

<div id=answer class="value value--top">{{Country}}</div>
{{#Country info}}<div class="info">{{Country info}}</div>{{/Country info}}

<hr>

<div class="type">_flag_translation</div>
<div class="value value--image value--back">{{Flag}}</div>
{{#Flag similarity}}<div class="info">_flag_similarity_translation{{Flag similarity}}_full_stop_translation</div>{{/Flag similarity}}
