.card {
  background-color: white;
  color: black;
  font-family: Verdana;
  font-size: 16px;
  padding: 1em 0;
  text-align: center;
}

.country {
  color: #BB0000;
  font-size: 90%;
  font-weight: bold;
  margin-bottom: .25em;
  text-transform: uppercase;
}

.nightMode .country {
  color: #BB0000;
}

.capital {
  color: #0000BB;
  font-size: 60%;
  font-weight: bold;
  margin-bottom: .25em;
  text-transform: uppercase;
}

.nightMode .capital {
  color: #0000BB;
}

.value {
  font-size: 150%;
}

.mnemonic {
  font-size: 50%;
}

.nightMode .mnemonic {
 color: yellow;
}

.italic {
  font-style: italic;
}

.flag img {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.info {
  color: #333;
  font-size: 90%;
  font-style: italic;
  margin: .75em auto;
  max-width: 30em;
}

.info + .info {
  margin-top: -.375em;
}

.nightMode .info {
 color: yellow;
}

.hint{
  font-size: 30%
}

.map {
  margin-top: .5em
}
