.card {
  background-color: white;
  color: black;
  font-family: Verdana;
  font-size: 16px;
  padding: 1em 0;
  text-align: center;
}

.type {
  color: #333;
  font-size: 70%;
  font-weight: bold;
  margin-bottom: .25em;
  text-transform: uppercase;
}

.value {
  font-size: 150%;
}

.value--top {
  margin-top: 1em;
}

.image {
  margin-top: .75em
}

/* Some flags (e.g. Guam's) contain identifying words that can give away the answer */
/* Card backs always show the unmodified image(s) */
/* If a blurred image(s) is available, card front shows that instead */
.image--front > img[src*="-blur"] + img {
  display: none;
}
.image--back > img[src*="-blur"] {
  display: none;
}

.image img {
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .2);
}

.info {
  color: #333;
  font-size: 90%;
  font-style: italic;
  margin: .75em auto;
  max-width: 30em;
}

hr {
  margin: 1.5em 0;
}

.nightMode .info, .nightMode .type {
  color: #ccc;
}
