name: Integrity check

on: [push, pull_request]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pipenv
        pipenv install

    - name: Validate regular & extended decks
      run: |
        pipenv run build

    - name: Validate experimental deck
      run: |
        pipenv run build_experimental

      # TODO: Validate the csv file structure
